
@font-face {
    font-family: Gennokaku;
    src: local('Noto Sans JP Regular'),
         url(https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format('woff2'),
         url(https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format('woff');
}
